<h2 mat-dialog-title class="title">Tell me who you are and {{title.toLowerCase()}}</h2>
<div mat-dialog-content>
  <form name="authForm" #authForm="ngForm" class="main-content">
    <mat-form-field>
      <input name="authEmail" [(ngModel)]="email" #inEmail="ngModel" matInput placeholder="Email" required email>
      <mat-error *ngIf="inEmail.invalid && inEmail.value != null">Not a valid email</mat-error>
      <mat-error *ngIf="inEmail.invalid && inEmail.value == null">Email can't be empty</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="data.dialogType === dialogType.SignUp">
      <input name="authUserName" [(ngModel)]="userName" #upNickname="ngModel" matInput placeholder="Username" required
        minlength="4">
      <mat-error *ngIf="upNickname.invalid && upNickname.touched && upNickname == null">Username can't be empty
      </mat-error>
      <mat-error *ngIf="upNickname.invalid && upNickname.touched && upNickname != null">Username must be at least 4
        characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input name="authPassword" [(ngModel)]="password" #upPassword="ngModel" matInput
        [type]="hidePass ? 'password' : 'text'" placeholder="Password" required minlength="6">
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="upPassword.invalid && upPassword.touched && upPassword.value == null">Password can't be empty
      </mat-error>
      <mat-error *ngIf="upPassword.invalid && upPassword.touched && upPassword.value != null">Password must be at least
        6 characters</mat-error>
    </mat-form-field>
  </form>
</div>
<div class="actions">
  <button mat-raised-button (click)="close()">Back</button>
  <button mat-raised-button color="primary"
    (click)="data.dialogType === dialogType.SignUp ? signUp() : signIn()">{{title}}</button>

</div>
<div class="actions-forgot">
  <button mat-raised-button color="accent" *ngIf="data.dialogType === dialogType.SignIn" (click)="resetPassword()">Reset
    Password</button>
</div>