<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{ comment.author.avatar }}" alt="Avatar" />
    <mat-card-title>{{ comment.author.userName }} </mat-card-title>
    <div>{{ comment.createdAt | date: "d/M/yy, h:mm a" }}</div>
    <button mat-button color="warn" (click)="DeleteComment($event)">Delete</button>
  </mat-card-header>
  <mat-card-content>
    <p>{{ comment.body }}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likeComment(true)">
      <mat-icon matBadge="{{ getLikes(true) }}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="getLikes(true) === 0" aria-label="Like">favorite</mat-icon>
    </button>

    <button mat-icon-button color="primary" (click)="likeComment(false)">
      <mat-icon matBadge="{{ getLikes(false) }}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="getLikes(false) === 0" aria-label="Like">sentiment_very_dissatisfied</mat-icon>
    </button>

    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>