<mat-card [ngClass]="{ 'post-with-comments': showComments }">
  <mat-card-header>
    <img mat-card-avatar src="{{ post.author.avatar }}" alt="Avatar" />
    <mat-card-title>{{ post.author.userName }}</mat-card-title>
    <div class="date">{{ post.createdAt | date: "d/M/yy, h:mm a" }}</div>
    <div *ngIf="currentUser != undefined">
      <button mat-button color="primary" *ngIf="post.author.id == currentUser.id" (click)="EditPost()">Edit</button>
      <button mat-button color="warn" (click)="DeletePost($event)">Delete</button>
    </div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{ post.previewImage }}" alt="Photo" />
  <mat-card-content>
    <p>{{ post.body }}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likePost(true)">
      <mat-icon matBadge="{{ getLikes(true) }}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="getLikes(true) === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="likePost(false)">
      <mat-icon matBadge="{{ getLikes(false) }}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="getLikes(false) === 0" aria-label="Like">sentiment_very_dissatisfied</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)="toggleComments()">
      <mat-icon matBadge="{{ comments.length }}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="comments.length > 0" class="comments-count">
      Just {{ comments.length }} in all
    </div>
    <app-comment *ngFor="let _comment of comments" [comment]="_comment"></app-comment>
  </div>
</mat-card>
